<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:isGame="false"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Game"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.StartingActivity"
            android:exported="false" />

        <service
            android:name=".service.MainMenuActivityService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="MainMenuActivityService" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.MainActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:isGame="false"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.game.view.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".view.MainActivity" />
        </activity>
        <activity
            android:name=".view.PredictionsActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.game.view.PredictionsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".PredictionsActivity" />
        </activity>
        <activity
            android:name=".view.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>